deb http://ftp.us.debian.org/debian {{ pve_debian_version_name }} main contrib non-free-firmware

deb http://ftp.us.debian.org/debian {{ pve_debian_version_name }}-updates main contrib non-free-firmware

# security updates
deb http://security.debian.org {{ pve_debian_version_name }}-security main contrib non-free-firmware

deb http://download.proxmox.com/debian/pve {{ pve_debian_version_name }} pve-no-subscription
