---
- name: Remove sources.list.d
  ansible.builtin.file:
    path: /etc/apt/sources.list.d
    state: absent

- name: Install sources.list file
  ansible.builtin.template:
    src: sources.list.j2
    dest: /etc/apt/sources.list
    mode: 0644

- name: Install dependencies
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
  with_items:
    - python3-proxmoxer
    - python3-requests
    - intel-microcode

- name: iGPU passthrough
  include_tasks: igpu_passthrough.yml

- name: LXC template
  include_tasks: lxc_template.yml
  with_items: "{{ pve_templates }}"

- name: Cloudinit template
  include_tasks: cloudinit_template.yml

- name: Containers
  include_tasks: container.yml
  with_items: "{{ pve_containers }}"

- name: VMs
  include_tasks: vm.yml
  with_items: "{{ pve_vms }}"
