services:
  immich-server:
    image: ghcr.io/immich-app/immich-server:v2.1.0
    volumes:
      - /mnt/storage/photos:/usr/src/app/upload
      - /etc/localtime:/etc/localtime:ro
    devices:
      - /dev/dri:/dev/dri
    environment:
      IMMICH_HOST: "0.0.0.0"
      REDIS_HOSTNAME: immich-redis
      DB_HOSTNAME: immich-database
      DB_PASSWORD: ${IMMICH_DB_PASSWORD}
      DB_USERNAME: ${IMMICH_DB_USER}
      DB_DATABASE_NAME: ${IMMICH_DB_NAME}
    depends_on:
      - immich-redis
      - immich-database
    user: ${PUID}:${PGID}
    networks:
      homelab:
    labels:
      caddy: photos.${HOMELAB_DOMAIN}
      caddy.import: common
      caddy.reverse_proxy: "{{upstreams 2283}}"
    restart: unless-stopped

  immich-machine-learning:
    image: ghcr.io/immich-app/immich-machine-learning:v2.1.0
    volumes:
      - model-cache:/cache
    networks:
      homelab:
    restart: unless-stopped

  immich-redis:
    image: docker.io/valkey/valkey:8-bookworm@sha256:a137a2b60aca1a75130022d6bb96af423fefae4eb55faf395732db3544803280
    networks:
      homelab:
    restart: unless-stopped
    healthcheck:
      test: redis-cli ping || exit 1

  immich-database:
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:32324a2f41df5de9efe1af166b7008c3f55646f8d0e00d9550c16c9822366b4a
    environment:
      POSTGRES_PASSWORD: ${IMMICH_DB_PASSWORD}
      POSTGRES_USER: ${IMMICH_DB_USER}
      POSTGRES_DB: ${IMMICH_DB_NAME}
      POSTGRES_INITDB_ARGS: '--data-checksums'
    volumes:
      - /mnt/data/immich:/var/lib/postgresql/data
    networks:
      homelab:
    restart: unless-stopped

volumes:
  model-cache:
