all:
  vars:
    ssh_key: '{{ lookup("env", "HOMELAB_SSH_KEY") }}'
    root_password: '{{ lookup("env", "HOMELAB_ROOT_PASSWORD") }}'
    username: '{{ lookup("env", "HOMELAB_USERNAME") }}'
    password: '{{ lookup("env", "HOMELAB_PASSWORD") }}'
    cloudflare_api_token: '{{ lookup("env", "CLOUDFLARE_API_TOKEN") }}'
    homelab_domain: '{{ lookup("env", "HOMELAB_DOMAIN") }}'
    external_ip: '{{ lookup("env", "EXTERNAL_IP") }}'
servers:
  hosts:
    pve01:
      ansible_host: 10.0.1.50
containers:
  hosts:
    nfs01:
      ansible_host: 10.0.2.10
vms:
  hosts:
    docker01:
      ansible_host: 10.0.2.20
      nfs_client_mounts:
        - src: 10.0.2.10:/homelab
          dest: /mnt/storage
      disk_mounts:
        - src: /dev/disk/by-uuid/db76eff3-5f94-4d07-88ef-13f4432ad31a
          dest: /mnt/data
          fstype: ext4
proxmox:
  hosts:
    pve01:
      pve_node: pve01
      pve_templates:
        - &debian13 debian-13-standard_13.1-2_amd64.tar.zst
      pve_debian_version_name: trixie
      pve_debian_version_number: 13
      pve_cloudinit_template_vmid: 9001
      pve_containers:
        - vmid: 100
          name: nfs01
          template: *debian13
          disk_size: 10
          memory: 4096
          swap: 2048
          cores: 2
          mounts:
            mp0: /rpool/NAS/homelab,mp=/homelab
            mp2: /rpool/NAS/public,mp=/public
          ip: 10.0.2.10/24
          gateway: 10.0.2.1
          mac: BC:24:11:56:68:00
          unprivileged: false
          features:
            - nesting=1
      pve_vms:
        - vmid: 200
          name: docker01
          mac: BC:24:11:56:68:AA
          ip: 10.0.2.20/24
          gateway: 10.0.2.1
          disk_size: 100G
          memory: 32768
          cores: 12
          hostpci:
            hostpci0: host=0000:00:02,pcie=1
          addtl_disks:
            - disk: scsi1
              size: 15
              backup: true
nfs:
  hosts:
    nfs01:
      nfs_exports:
        - "/homelab 10.0.2.20(rw)"
        - "/public 10.0.1.0/24(rw)"
igpu_guest:
  hosts:
    docker01:
docker:
  hosts:
    docker01:
      docker_users:
        - "{{ username }}"
