services:
  energy_sync:
    image: gitea.${HOMELAB_DOMAIN}/${HOMELAB_USERNAME}/energy_sync:latest
    networks:
      homelab:
    volumes:
      - /mnt/data/energy_sync:/data
    environment:
      ENERGY_PROVIDER_USERNAME: ${ENERGY_SYNC_ENERGY_PROVIDER_USERNAME}
      ENERGY_PROVIDER_PASSWORD: ${ENERGY_SYNC_ENERGY_PROVIDER_PASSWORD}
      ENERGY_PROVIDER_ACCOUNT_NUMBER: ${ENERGY_SYNC_ENERGY_PROVIDER_ACCOUNT_NUMBER}
      ENERGY_PROVIDER_METER_NUMBER: ${ENERGY_SYNC_ENERGY_PROVIDER_METER_NUMBER}
      HOME_ASSISTANT_HOST: home-assistant.${HOMELAB_DOMAIN}
      HOME_ASSISTANT_ACCESS_TOKEN: ${ENERGY_SYNC_HOME_ASSISTANT_ACCESS_TOKEN}
    restart: unless-stopped
